*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1;
}

.container {
  background-image: linear-gradient(to right top, #2979ff, #07a787);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff;
  min-width: 450px;
  min-height: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px 0;
}

.header h1 {
  color: #000;
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  font-weight: 600;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  display: inline-block;
  outline: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  margin-right: 25px;
}

.add-btn {
  display: inline-block;
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
  background-color: #f7f5f5;
  color: #000;
  max-height: 30px;
}

.btn-delete {
  border: none;
  outline: none;
  font-size: 16px;
}

.btn-delete i {
  color: #000;
}
